<h3>Employee info</h3>

<p><img src="<%= @employee.img_url %>" alt="employee"></p>
<p>Name: <%= @employee.first_name %> <%= @employee.last_name %></p>
<p>Title: <%= @employee.title %></p>
<p>Alias: <%= @employee.alias %></p>
<p>Office: <%= @employee.office %></p>
<br>
<%= link_to "Edit", edit_employee_path(@employee) %>
<br>
<%= button_to "Delete", employee_path(@employee), method: :delete %>