<h1>Employee</h1>
<%=image_tag("#{@employee.img_url}")%><br>
<hr>
<strong>First name: </strong><%=@employee.first_name%><br>
<strong>Last name: </strong><%=@employee.last_name%><br>
<strong>Alias: </strong><%=@employee.alias%><br>
<strong>Title: </strong><%=@employee.title%><br>
<strong>Office: </strong><%=@employee.office%><br>

